@model LTWeb_05.Models.User
@{
    ViewBag.Title = "Profile";
}
@section js{
    <script src="~/assets/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/jquery-3.2.0.min.js"></script>
    <script src="~/assets/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript">

        $("#frmUpdateUser").validate({
            rules: {
                f_Username: {
                    required: true

                },
                //ReOldPWD: {
                //    equalTo: '#txtOldPWD'
                //},
                //RawPWD: {
                //    required: true,
                //    minlength: 6
                //},
                //CPWD: {
                //    equalTo: '#txtPWD'
                //},
                f_Name: {
                    required: true
                },
                f_Email: {
                    required: true,
                    email: true
                },
                f_DOB: {
                    required: true
                },
            },
            messages: {
                f_Username: {
                    required: 'Vui lòng nhập UserName.'
                },
                //ReOldPWD:{
                //    required: 'Mật khẩu cũ không trùng khớp'
                //},
                //RawPWD: {
                //    required: 'Vui lòng nhập Password.',
                //    minlength: 'Mật khẩu phải ít nhất dài 6 ký tự'
                //},
                //CPWD: {
                //    equalTo: 'Mật khẩu nhập lại chưa khớp'
                //},
                f_Name: {
                    required: 'Vui lòng nhập Name.'
                },
                f_Email: {
                    required: 'Vui lòng nhập Email.',
                    email: 'Email không đúng định dạng.'
                },
                f_DOB: {
                    required: 'Vui lòng chọn DOB.'
                },
            },
            errorElement: 'span',
            errorClass: 'help-block',
            highlight: function (element) {
                $(element)
                    .closest('.form-group')
                    .addClass('has-error');
            },
            success: function (label) {
                $(label)
                    .closest('.form-group')
                    .removeClass('has-error');

                label.remove();
            },
        });
    </script>
}
<form class="form-horizontal" method="post" action="@Url.Action("UpdateUser","Account")" id="frmUpdateUser">
    @*<div class="form-group">
        <label for="txtUsername" class="col-sm-2 control-label">Username:</label>
        <div class="col-sm-4">*@
    <input type="hidden" class="form-control" id="txtUserID" placeholder="ID" name="f_ID" value="@Model.f_ID" readonly>
            <input type="hidden" class="form-control" id="txtUsername" placeholder="Tên đăng nhập" name="f_Username" value="@Model.f_Username" readonly>
        @*</div>
    </div>*@
    @*<div class="form-group">
        <label for="txtPWD" class="col-sm-2 control-label">Old-Password:</label>
        <div class="col-sm-4">
            <input type="hidden" class="form-control" id="txtOldPWD" placeholder="Password" name="OldPWD" value="@Model.f_Password">
            <input type="password" class="form-control" id="txtReOldPWD" placeholder="Password" name="ReOldPWD">
        </div>
    </div>
    <div class="form-group">
        <label for="txtPWD" class="col-sm-2 control-label">New-Password:</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="txtPWD" placeholder="Password" name="RawPWD">
        </div>
    </div>
    <div class="form-group">
        <label for="txtCPWD" class="col-sm-2 control-label">Re-New-Password:</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="txtCPWD" placeholder="Nhập lại password" name="CPWD">
        </div>
    </div>*@
    <input type="hidden" class="form-control" id="txtPWD" placeholder="Password" name="f_PassWord" value="@Model.f_Password" readonly>
    <div class="form-group">
        <label for="txtName" class="col-sm-2 control-label">Name:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="txtName" placeholder="Họ tên" name="f_Name" value="@Model.f_Name">
        </div>
    </div>
    <div class="form-group">
        <label for="txtEmail" class="col-sm-2 control-label">Email Address:</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="txtEmail" placeholder="Email" name="f_Email" value="@Model.f_Email">
        </div>
    </div>
    <div class="form-group">
        <label for="txtDOB" class="col-sm-2 control-label">Day Of Birth:</label>
        <div class="col-sm-4">
            @*<input type="text" class="form-control datepicker" id="txtDOB" placeholder="d/m/yyyy" name="DOB">*@
            <input type="datetime" class="form-control datepicker" id="txtDOB" placeholder="d/m/yyyy" name="f_DOB" value="@Model.f_DOB.Date.ToLongDateString()" readonly>
        </div>
    </div>
    <input type="hidden" class="form-control" id="txtUserPermisson" placeholder="ID" name="f_Permisson" value="@Model.f_Permission" readonly>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">
                <i class="fa fa-check"></i>
                Update
            </button>
        </div>
    </div>
</form>

