@using LTWeb_05.Models
@using LTWeb_05.Helpers
@model Product
@section css{
    <link href="~/assets/bootstrap-touchspin-master/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <style type ="text/css">
        .caption-lg-orange{
            font-weight: bold;
            font-size: 12pt;
            color: #fc6e04;
        }
        .caption-lg-red{
            font-weight: bold;
            font-size: 11pt;
            color: #f00;
        }
        .padding{
            padding-top: 8px;
        }
    </style>
}
@section js{
    <script src="~/assets/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/assets/jquery-validation/jquery.validate.js"></script>
    <script src="~/assets/jquery-validation/additional-methods.min.js"></script>
    <script src="~/assets/jquery-validation/additional-methods.js"></script>
    <script src="~/assets/bootstrap-touchspin-master/dist/jquery.bootstrap-touchspin.min.js"></script>
    <script type="text/javascript">
        $('#txtQ').TouchSpin({
            min: 10000,
            max: 9000000,
            verticalbuttons: true
        });
    </script>
    <script>
        var end = new Date('@Model.Expried.Value.Date');
        var _second = 1000;
        var _minute = _second * 60;
        var _hour = _minute * 60;
        var _day = _hour * 24;
        var timer;
        var i= @Model.ProID

        function showRemaining() {
            var now = new Date();
            var distance = end - now;
            if (distance < 0) {

                clearInterval(timer);
                document.getElementById(i).innerHTML = 'EXPIRED!';

                return;
            }
            var days = Math.floor(distance / _day);
            var hours = Math.floor((distance % _day) / _hour);
            var minutes = Math.floor((distance % _hour) / _minute);
            var seconds = Math.floor((distance % _minute) / _second);

            document.getElementById(i).innerHTML = days + 'days:';
            document.getElementById(i).innerHTML += hours + ':';
            document.getElementById(i).innerHTML += minutes + ':';
            document.getElementById(i).innerHTML += seconds;
        }
        timer = setInterval(showRemaining, 1000);
    </script>
    <script>
        $.validator.addMethod("greaterThan",
        function (value, element, param) {
            var $min = $(param);
            if (this.settings.onfocusout) {
                $min.off(".validate-greaterThan").on("blur.validate-greaterThan", function () {
                    $(element).valid();
                });
            }
            return parseInt(value) > parseInt($min.val());
        }, "Giá nhập vào không hợp lệ");
         $('#frmAddItem').validate({
                    rules: {
                        BidPrice: {
                            greaterThan: '#MaxPrice'
                        }
                    },
                    errorElement: 'span',
                    errorClass: 'help-block',
                    highlight: function (element) {
                        $(element)
                            .closest('.form-group')
                            .addClass('has-error');
                    },
                    success: function (label) {
                        $(label)
                            .closest('.form-group')
                            .removeClass('has-error');

                        label.remove();
                    }
         });
    </script>
}
@if (Model == null){
    <text>Sản phẩm không tồn tại !!!</text>
}else {
    @*<div class="row">
        <div class="col-md-12">
            <img src="~/Imgs/sp/@Model.ProID/main_thumbs.jpg" />
        </div>
        <div class="col-md-12 caption-lg-orange">
            <h3>@Model.ProName</h3>
        </div>
        <div class="col-md-12 padding">
            <span class="caption-lg-red">Giá bán: @string.Format("{0:N0}",Model.Price)</span>
        </div>
        <div class="col-md-12 padding">
            Tồn kho: @Model.Quantity
        </div>
        <div class="col-md-12 padding"  >
            @Html.Raw(Model.FullDes)
        </div>
    </div>*@
                 <div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
                                <img src="~/Imgs/sp/@Model.ProID/main_thumbs.jpg" alt="" />
								<h3>ZOOM</h3>
							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">
								
								  <!-- Wrapper for slides -->
								    <div class="carousel-inner">
										<div class="item active">
										  <a href=""><img src="~/assets/images/product-details/similar1.jpg" alt=""></a>
										  <a href=""><img src="~/assets/images/product-details/similar2.jpg" alt=""></a>
										  <a href=""><img src="~/assets/images/product-details/similar3.jpg" alt=""></a>
										</div>
										<div class="item">
										  <a href=""><img src="~/assets/images/product-details/similar1.jpg" alt=""></a>
										  <a href=""><img src="~/assets/images/product-details/similar2.jpg" alt=""></a>
										  <a href=""><img src="~/assets/images/product-details/similar3.jpg" alt=""></a>
										</div>
										<div class="item">
										  <a href=""><img src="~/assets/images/product-details/similar1.jpg" alt=""></a>
										  <a href=""><img src="~/assets/images/product-details/similar2.jpg" alt=""></a>
										  <a href=""><img src="~/assets/images/product-details/similar3.jpg" alt=""></a>
										</div>
									
									</div>

								  <!-- Controls -->
								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
							</div>
						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
                                <img src="~/assets/images/product-details/new.jpg" class="newarrival" alt="" />
								<h2>Product Name: @Model.ProName</h2>
								<p> WebID: @Model.ProID</p>
								<img src="~/assets/images/product-details/rating.png" alt="" />
								<span>
                                    <span>VND @Model.MaxPrice</span>
									@*<label>@Model.Quantity</label>
									<input type="text" value="3" />
									<button type="button" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</button>*@
								</span>
                                <form class="form-horizontal" id="frmAddItem" method="post" action="">
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <p id="@Model.ProID"></p>

                                            <input type="hidden" class="form-control" id="txtProID" name="ProID" value="@Model.ProID">
                                            <input type="hidden" class="form-control" id="txtfID" name="f_ID" value="@CurrentContext.GetCurUser().f_ID">
                                            <input type="hidden" class="form-control" id="txtTimeAuction" name="TimeAuction" value="@DateTime.Now.ToShortDateString()">
                                            @*<div class="input-group" style="margin-left: 24px">*@
                                            <input type="hidden"  id="MaxPrice" name="MaxPrice" class="form-control" value="@Convert.ToDouble(Model.MaxPrice)" />
                                            <input type="text" id="BidPrice" name="BidPrice" class="form-control" placeholder="@Model.MaxPrice"/>
                                            @*</div>*@
                                            @*<input type="hidden" class="form-control" name="HiddenBidPrice" value="bla">*@
                                            @*<input type="hidden" class="form-control" name="ProID" value="@Model.ProID">
                                            <input type="hidden" class="form-control" name="ProName" value="@Model.ProName">
                                            <input type="hidden" class="form-control" name="TinyDes" value="@Model.TinyDes">
                                            <input type="hidden" class="form-control" name="FullDes" value="@Model.FullDes">
                                            <input type="hidden" class="form-control" name="Price" readonly value="@(Model.Price)">
                                            <input type="hidden" class="form-control" name="CatID" readonly value="@Model.CatID">
                                            <input type="hidden" class="form-control" name="Quantity" readonly value="@Model.Quantity">*@
                                            @*@if(Model.MaxPrice == Model.Price)
                                            {
                                                <input type="hidden" class="form-control" name="MaxPrice" value="@(Model.MaxPrice + 10000)">  
                                            }
                                            
                                            @if (Model.MaxPrice > Model.Price && Model.MaxPrice < ViewBag.BidPriceMax)
                                            {
                                                <input type="hidden" class="form-control" name="MaxPrice" value="@(Model.MaxPrice + 10000)"> 
                                            }*@
                                            <input type="hidden" class="form-control" name="Expried" value="@Model.Expried">
                                        </div>
                                        <div class="col-sm-4">
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-success">Bid</button>
                                            </span>
                                        </div>
                                    </div>
                                </form>   
								<p><b>Availability:</b> In Stock</p>
								<p><b>Condition:</b> New</p>
								<p><b>Brand:</b> E-SHOPPER</p>
								<a href=""><img src="~/assets/images/product-details/share.png" class="share img-responsive"  alt="" /></a>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->   
					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li><a href="#details" data-toggle="tab">Details</a></li>
								<li><a href="#companyprofile" data-toggle="tab">Company Profile</a></li>
								<li><a href="#tag" data-toggle="tab">Tag</a></li>
								<li class="active"><a href="#reviews" data-toggle="tab">Reviews (5)</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade" id="details" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery1.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery2.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery3.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery4.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="companyprofile" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery1.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery3.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery2.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery4.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade" id="tag" >
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery1.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery2.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery3.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="images/home/gallery4.jpg" alt="" />
												<h2>$56</h2>
												<p>Easy Polo Black Edition</p>
												<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="tab-pane fade active in" id="reviews" >
								<div class="col-sm-12">
									<ul>
										<li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
										<li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
										<li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
									</ul>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
									<p><b>Write Your Review</b></p>
									
									<form action="#">
										<span>
											<input type="text" placeholder="Your Name"/>
											<input type="email" placeholder="Email Address"/>
										</span>
										<textarea name="" ></textarea>
										<b>Rating: </b> <img src="~/assets/images/product-details/rating.png" alt="" />
										<button type="button" class="btn btn-default pull-right">
											Submit
										</button>
									</form>
								</div>
							</div>
							
						</div>
					</div><!--/category-tab-->
					
					@*<div class="recommended_items">recommended_items
						<h2 class="title text-center">recommended items</h2>
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">	
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="images/home/recommend3.jpg" alt="" />
													<h2>$56</h2>
													<p>Easy Polo Black Edition</p>
													<button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                                   
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div>/recommended_items*@
				</div>
}
